/*-------------Employee----------*/
.container {
    display: -webkit-flex;
    display: flex;
}

.flex {
    -webkit-flex: 1;
    flex: 1;
}

.inactive {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}