<div class="container">
    <section class="flex">
        <img src="img/loading.gif" data-ng-hide="!loading">
        <ul>
            <li data-ng-repeat="employee in employees">
                <a href="" data-ng-click="selectEmployee(employee.EmployeeID)" data-ng-class="employee.isActive ? 'inactive' : ''">
                {{employee.EmployeeID}}. {{employee.FirstName}} {{employee.LastName}}
                </a>
            </li>
        </ul>
    </section>
    <section class="flex">
        <ul>
            <li>Last name: {{selectedEmployee.LastName}}</li>
            <li>First name: {{selectedEmployee.FirstName}}</li>
            <li>Title: {{selectedEmployee.Title}}</li>
            <li>BirthDate: {{selectedEmployee.BirthDate | date:'yyyy-MM-dd'}}</li>
            <li>Address: {{selectedEmployee.Address}}</li>
            <li><a href="#/employee/connectedOrders/{{selectedEmployee.EmployeeID}}">Orders connected to me</a></li>
        </ul>
    </section>
    <section class="flex">
        <img id="employeeImage" data-ng-src="{{imgSource}}">
    </section>
</div>